.center-card.mdl-card {
    width: 60%;
    margin: auto;
}


.info-input {
    margin: 10px;
}

.inner-card.mdl-card {
    width: 100%;
    margin: auto;
    min-height: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}