.buttons{
    display: block;
    width: 30em;
    height: fit-content;
    /* margin: 0 auto; */
    text-align: center
}

.fill-horizontal{
    width: 100%;
}

.half-fill-horizontal{
    width: 49.75%;
}

.display-inline{
    display: inline-block;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: left;
}

.solo-25-per{
    width: 25%;
}

.auto-width{
    width: 71.4%;
}